
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

/* barra de navegacion  */
.navEstilo{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8rem;
}

.navbar{
    --bs-navbar-color: rgba (0, 0, 0, 0);
    --bs-navbar-hover-color: rgb(255, 64, 51);
    --bs-navbar-nav-link-padding-x: 1.3rem;
}

.navbar-collapse{
    justify-content: end;
}

.nav-link{
    padding: 0 0px 0 10px;
}

/* seccion principal */

.textoPrincipal{
    background-color: rgb(255, 64, 51) ;
}

.backgroundTitulo{
    background-color: rgb(255, 64, 51);
}

h1{
    grid-area: titulo;
    text-align: center;
    font-size: 7rem;
    padding-top: 30px;
}

.areaPrincipal{
    background-color: rgb(255, 64, 51);
}

.imagenPrincipal{
    background-color: rgb(255, 64, 51);
    text-align: center;
}

.textoPrincipal p{
    background-color: rgb(255, 64, 51);
    font-size: 2.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 70px 20px 0 20px;
    text-align: center;
}

.productos div h2:hover{
    transform: scale(1.2);
}

/* seccion para productos */
.subtituloRecursos{
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    text-align: center;
    background-color: rgb(255, 198, 4);
    padding: 20px 0 30px 0;
}


.subtituloRecursos h2{
    font-size: 3rem;
    padding: 10px;
}

.imagenRecursos{
    background-color:rgb(255, 198, 4);
    text-align: center;
    padding-bottom: 25px;
}

.imagenRecursos img:hover{
    border: solid 4px salmon;
}

.videoRecursos{
    padding-bottom: 25px;
    padding-right: 34px;
}
@media only screen and (max-width: 575){
    
    .imagenRecursos{
        padding: 70px 20px 0 20px;
    }
}

.videoRecursos{
    background-color: rgb(255, 198, 4);
}

iframe{
    height: 400px;
    width: 100%;
    padding: 20px; 
}

/* seccion para los testimonios */

.tituloTestimonios{
    align-items: center;
    text-align: center;
}

.tituloTestimonios h3{ 
    align-items: center;
    text-align: center;
    font-size: 4rem;
}

.testimonios div{
    margin-bottom: 15px;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.testimonios{
    padding: 25px;
    margin-top: 20px;
}

.testimonios img{
    padding: 0 0 20px 0;
    height: 330px;
    width: 330px;
    margin-top: 1px;
}

.testimonios .nombreTesti{
    font-size: 1.4rem;
}

.testimonios .nombreTesti2{
    font-size: 1.4rem;
    margin-top: -10px;
}

.testimonios .nombreTesti{
    font-size: 1.4rem;
    margin-top: -10px;
}

@media only screen and (min-width:768px) and (max-width: 992px){
    /* .imagenTesti3{ "no recuerdo que hubiera esta clase"
        height: 300px;
        width: 250px;
    } */
    .testimonios img{
        height: 240px;
        width: 240px;
        padding: 5px;
    }
}

@media only screen and (max-width: 767px) {
    .testimonios img{
        height: 200px;
        width: 200px;
    } 
}

/* =====seccion para los esquemas de pago==== */
.esquema{
    background-color: rgb(82, 144, 201);
    height: 420px;
}

h4{
    font-size: 2.7rem;
    padding: 20px;
}

.esquema h4{
    text-align: center;
}

.tablaGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "plan1   plan2    plan3"
    "precio1 precio2 precio3"
    "bene1  bene2  bene3";
    justify-items: center;
    align-items: center;
    border: solid black 5px;
    text-align: center;
    background-color: whitesmoke;
    width: 99%;
    box-sizing: border-box;
}

.planPago1{
    grid-area: "plan1";
    font-size: 2rem;
}

.planPago1:hover{
    transform: scale(1.3);
}

.planPago2{
    grid-area: "plan2";
    font-size: 2rem;
}

.planPago2:hover{
    transform: scale(1.3);
}

.planPago3{
    grid-area: "plan3";
    font-size: 2rem;
}

.planPago3:hover{
    transform: scale(1.3);
}


.tablaGrid p{
    font-size: 1.2rem;
}
.precio1{
    grid-area: "precio1";
}

.precio2{
    grid-area: "precio2";
}

.precio3{
    grid-area: "precio3";
}

.beneficio1{
    grid-area: "bene1";
}

.beneficio2{
    grid-area: "bene2";
}

.beneficio3{
    grid-area: "bene3";
}

/* media querie para la seccion de pagos */
@media only screen and (max-width: 480px){
    .esquema{
        background-color: rgb(82, 144, 201);
        height: 400px;
    }
    .gridItem{
        width: auto;
        font-size: 1rem;
    }
    .tablaGrid p{
        font-size: 16px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 978px){
    .esquema{
        background-color: rgb(82, 144, 201);
        height: 400px;
    }
    .gridItem{
        width: auto;
        font-size: 18px;
    }
    .tablaGrid p{
        font-size: 1.3rem;
    }
}

/* footer */
.footNav{
    background: rgb(1,16,94);
    background: linear-gradient(90deg, rgba(1,16,94,1) 0%, rgba(148,32,90,1) 79%, rgba(255,44,87,1) 100%); ;
}

footer a{
    color: aliceblue;
    text-decoration: none;
    padding-right: 10px;
}

.footNav{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footNav ul{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin-right: 45px ;
    list-style: none;
    text-decoration: none;
    padding: 15px 0 0 15px; 
}

.footNav .redesSociales{
    display: flex;
    flex-wrap: wrap;
}


.redesSociales img{
    height: 200px;
    width: 200px;
    padding: 35px;
}

.redesSociales img:hover{
        transform: scale(1.3);
}

.redesSociales{
    display: inline;
    justify-content: center;
}

.footerNav ul a{
    text-decoration: none;
}

/* media querie para el footer */
@media only screen and (min-width: 979px) {
    .footerNav ul {
        width: 100%;
    }
}

@media only screen and (min-width: 979px) {
    .footerNav ul {
        width: 100%;
        margin: 15px;
    }
}
@media only screen and (max-width: 480px){
    .footerNav .redesSociales{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .footerNav ul {
        width: 100%;
    }
}

.footNav p{
    color: aliceblue
}

/* =======pagina de recursos====== */

.recurso{
    text-align: center;
}

.recursos1, .recursos2{
    padding: 50px 0 30px 0;
    background-color: rgb(255, 198, 4);
}