*{
    margin: 0;
    padding: 0;
/*     overflow: hidden; */
}

.logo{
    height: 100px;
    width: 100px;
}
/* estilos del header */

header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}

nav{
    width: 70%;
    margin: 0 25px 0 0;
}

ul{
    justify-content: space-between;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

/* estilos main */

.gridPadre{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100px 500px;
    grid-template-areas: 
    "titulo titulo"
    "texto  imagen";
    justify-items: center;
    align-items: center;
}

h1{
    grid-area: titulo;
    text-align: center;
    font-size: 7rem;
    padding-top: 30px;
}

.parrafoPrincipal {
    grid-area: texto;
    text-align: center;
    font-size: 2rem;
    line-height: 45px;
    margin: 54px 20px 63px 49px;
/*     border: solid black; */
}

.imagenPrincipal{
    grid-area: imagen;
}

.gridPadre img{
    width: 600px;
    height: 600px;
    padding-top: 70px;
}

/* telefono */
@media only screen and (max-width: 480px) {

    header{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 2.2rem;
    }

    ul{
        margin: 20px 20px 30px 60px;
        border: solid black;
    }

    ul li{
        align-content: center;
    }

    h1{
        grid-area: titulo;
        text-align: center;
        font-size: 3rem;
        padding-top: 10px;
    }
    
    .parrafoPrincipal {
        grid-area: texto;
        text-align: center;
        font-size: 45px;
        line-height: 45px;
        margin: 94px 19px 63px 19px;
    }

    .gridPadre{
        display: grid;
        grid-template-areas: 
        "titulo"
        "texto"
        "imagen";
        grid-template-rows: 150px 300px auto;
        grid-template-columns: 100%;
        background-color: brown
    }

    .gridPadre img{
        width: 400px;
        height: 400px;
        padding-top: 70px;
    }
}

/* tablet */
@media only screen and (min-width: 481px) and (max-width: 978px){
/*     nav{
        width: 86%;
        margin: 0 25px 0 0;
    } */
    

    header{
        background-color: antiquewhite;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4rem;
    }

    body {
        background-color: burlywood;
    }

    ul{
        margin: 20px 20px 30px 60px;
        padding: 0 20px 0 20px;
        border: solid black;
    }

    ul li{
        align-content: center;
    }

    h1{
        grid-area: titulo;
        text-align: center;
        font-size: 5rem;
        padding-top: 10px;
    }
    
    .parrafoPrincipal {
        grid-area: texto;
        text-align: center;
        font-size: 45px;
        line-height: 45px;
        margin: 94px 19px 63px 19px;
    }

    .gridPadre{
        display: grid;
        grid-template-areas: 
        "titulo"
        "texto"
        "imagen";
        grid-template-rows: 150px 300px auto;
        grid-template-columns: 100%;
        background-color: burlywood;
    }

    .gridPadre img{
        width: 800px;
        height: 800px;
        padding-top: 70px;
    }
}

/* escritorio */
@media only screen and (min-width: 979px) {
    body {
        background-color: rgb(255, 64, 51);
    }
}